# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized, and hopefully, points are earned.

<b>Objectives:</b>
- List popular languages for Data Science
- List common libraries for Data Science
- List popular tools for Data Science
- Demonstrate arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R
4. Scala
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Pandas
4. Seaborn
5. Keras

|Data Science Tools|
|------------------|
|Apache Spark|
|Julia|
|Jupyter Notbook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

In [ ]:
## Author
    Alex Kirby